altgraph @ file:///AppleInternal/Library/BuildRoots/bcce998f-ff34-11ef-9d34-f2a857e00a32/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
praw==7.8.1
wikipedia==1.4.0
thefuzz==0.22.1
python-dotenv==1.1.0
